@model TTRPG_Character_Builder.Models.ManageViewModel

@{
    ViewData["Title"] = "Manage Profile";
}

<h2>Manage Profile</h2>
<form method="post" asp-action="Manage" asp-controller="User">

    <input type="email" asp-for="Email" placeholder="New Email" />

    <button type="submit">Update Profile</button>
</form>
